<IfModule mod_rewrite.c>
    RewriteEngine on
	RewriteCond %{HTTP_HOST} ^qoobroom.ru$ [NC,OR]
	RewriteCond %{HTTP_HOST} ^www.qoobroom.ru$ 
	RewriteCond %{REQUEST_URI} !public/
	RewriteRule (.*) /public/$1 [L]
</IfModule>

<Ifmodule mod_expires.c>
<Filesmatch ".(jpg|jpeg|gif|png|ico|css|js)$">
ExpiresActive on
ExpiresDefault "access plus 1 month"
</Filesmatch>
</Ifmodule>
